<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <title>Wine Invoice</title>
</head>

<body>
  {%- block header %}
  {% include 'main/header.html' %}
  {%- endblock header %}

  {%- block content %}
  <container>
    <div class="row">
      <div class="col">
        Sample Content
      </div>
    </div>
  </container>
  {%- endblock content %}

  {%- block javascript %}
  {% include 'main/scripts.html' %}
  {%- endblock javascript %}
</body>

</html>